@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: $clr2;
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: $clr1;
    @include wide-layout {
        overflow: hidden;
    }
}

h1,h2,h3,h4,h5,h6, p {
    color: $clr2;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

#root {
    height: 100vh;
}

.app {
    height: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 20px;
    overflow-y: auto;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
}