.flex {
    display: flex;

    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.column {
        flex-direction: column;
    }
}


.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}