.home {
    margin-top: 3rem;
    padding: 10px;
    h1 {
        font-size: rem(35px);
        margin-bottom: 2.5rem;
    }
    p {
        margin-bottom: 1.5rem;
    }
    h3 {
        font-size: rem(18px);
        margin-bottom: 3rem;
        .Typewriter {
            display: inline-block;
        }
    }
    .btn-wrraper {
        margin-bottom: 5rem;
        gap: 10px;
        .btn {
            text-align: center;
            background-color: $clr3;
            padding: 10px 20px;
            border-radius: 5px;
            color: $clr1;
        }
    
        .inverse-btn {
            text-align: center;
            border: 1px solid $clr3;
            padding: 10px 20px;
            border-radius: 5px;
            color: $clr3;
        }
    }

    @include normal-layout {
        .title-wrapper {
            h1 {
                font-size: rem(80px);
            }
        }
        h3 {
            font-size: rem(30px);
        }
    }

    @include wide-layout {
        .title-wrapper {
            h1 {
                font-size: rem(95px);
            }
        }
        h3 {
            font-size: rem(40px);
            .Typewriter {
                display: inline-block;
            }
        }
    }
}