.home {
    margin-top: 1.5rem;
    padding: 20px;
    h1 {
        font-size: rem(45px);
    }
    h3 {
        font-size: rem(20px);
        margin-bottom: 3rem;
        .Typewriter {
            display: inline-block;
        }
    }

    .btn {
        background-color: $clr3;
        padding: 10px 30px;
        border-radius: 5px;
        color: $clr1;
        margin-right: 1.5rem;
    }

    .inverse-btn {
        border: 1px solid $clr3;
        padding: 10px 30px;
        border-radius: 5px;
        color: $clr3;
    }

    @include normal-layout {
        .title-wrapper {
            h1 {
                font-size: rem(80px);
            }
        }
        h3 {
            font-size: rem(30px);
        }
    }

    @include wide-layout {
        .title-wrapper {
            h1 {
                font-size: rem(95px);
            }
        }
        h3 {
            font-size: rem(40px);
            .Typewriter {
                display: inline-block;
            }
        }
    }
}