.projects {
    display: grid;
    justify-items: center;
    gap: 20px;
    
    @include wide-layout {
        grid-template-columns:
        minmax(auto, 1fr)
        auto
        minmax(20px, 1fr)
        ;
    }
}